/* CADASTRO */


.seta_cadastro {
    width: 40px;
    cursor: pointer;
    margin-right: 15px;

}


.titulo_cadastroListagem {
    font-size: 40px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    margin: 25px 0;
}
.titulo_cadastroListagem {
    justify-self: center;
}


.container_cadastro {
    width: 100%;

    background-color: #01476B;
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
}



.box_cadastro {
    /* background-color: aqua; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;

    margin-top: 50px;
    padding: 0 20px;
}



.coluna_cadastro1 {

    width: 45%;

    display: flex;
    flex-direction: column;
}


.coluna_cadastro2 {
    /* background-color: blueviolet; */
    width: 45%;

    display: flex;
    flex-direction: column;
}

.cor {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.preço_img {
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

.img {
    width: 20%;
}

.img_input {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    /* background-color: blueviolet; */
}



.upload {
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 60px;
    border: solid 1px #000;
}


.upload svg {
    color: #ACACAC;
    width: 35px;
    display: flex;
    justify-self: center;
    padding-top: 10px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}



.input_cadastro {
    border-radius: 10px;
    height: 60px;
}

textarea {
    resize: none;
    height: 300px;
    border-radius: 15px;
}

.input_cadastro,
textarea {
    font-size: 20px;
    background-color: #F5F5F5;
}

.input_cadastro,
textarea {
    padding: 20px 15px;
    border: solid 0.5px;
}

.input_cadastro::placeholder,
textarea::placeholder {

    color: #ACACAC;
    font-size: 20px;

}


label,
input[type="button"] {

    font-size: 30px;
    color: white;

}

label {
    margin-top: 25px;
}

.botaoSubmit {
    padding: 10px 100px;
    margin-top: 50px;
    border-radius: 10px;

    background-color: var(--corPrincipal);
    font-size: 24px;
    font-family: var(--fontCpmplementar);
    box-shadow: 0 4px 4px 0 #00000025;
    cursor: pointer;

}




/*LISTAGEM*/



.container_lista {
    width: 100%;
    text-align: center;
    background: #01476B;
    justify-self: center;
}

.container_lista h2 {
    background-color: #F1F3EF;
    padding: 40px 0;
}

/* CARDS */
.cards {
    padding-top: 100px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    margin: 0 auto;
}


.card_cadastro {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1px;

    margin-bottom: 90px;
    box-shadow: 0 4px 4px 2px #00000025;
}

p {
    font-family: "Kaisei Tokumin", serif;
}

.card_cadastro p {

    padding: 1px;
}

.cards svg {
    cursor: pointer;
    display: flex;
    justify-content: center;

}


.descrição {
    color: #525252;
}