body {
  background-color: var(--corBackground);
}
/*PESQUISA */

 .banner_pesquisa {
    
    display: flex; 
    align-items: center; 
    position: relative; 
    width: 100%;
    height: fit-content;
}

.Ariana {
    height: 300px;
}

.pesquisa {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 600px; 
}

.lupa{
    height: 24px;
 
    position: absolute;
    margin: 10px;
    color: #b0b0b0;
  
    z-index: 10; 
}

input[type="text"]{
    border-radius: 10px;
 
    width: 100%; 
    height: 40px;
    border: solid 1px ;
    padding-left: 45px;
}

span{
    display: flex;
    justify-content: center ;
}


/* MEDIA*/




@media screen and (max-width: 1300px) {

    
    /*PESQUISA */
   .Ariana{
      display: none;
    }
    
    
    .banner_pesquisa{
        height: 200px;
    }
}

   