/* RODAPE */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;

    background: linear-gradient(96deg, rgba(0, 37, 55, 1) 0%, rgba(0, 71, 107, 1) 100%);

}

footer .logo {
    height: 40px;
}


@media screen and (max-width: 768px) 
  {/* FOOTER*/

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
  }

  footer .logo {
    height: 25px;

  }}
